html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px
        /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    align-content: center;
    background-color: black;
    color: azure;
}

.container {
    width: auto;
    padding: 0 25px;
}