<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="../static/css/sticky-footer.css" rel="stylesheet">
    <title>Milo Gopher</title>
</head>

<body>
    <p>Hello World, from Milo Gopher</p>
</body>

<footer class="footer">
    <div class="container">
        <p>The date today is {{.Date}} and the time is {{.Time}}</p>
    </div>
</footer>

</html>