<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link href="../static/css/sticky-footer.css" rel="stylesheet">
    <title>Milo Gopher</title>
</head>

<body>
    <h1>{{.PageTitle}}</h1>
    <ul>
        {{range .Todos}}
        {{if .Done}}
        <li class="done">{{.Title}}</li>
        {{else}}
        <li>{{.Title}}</li>
        {{end}}
        {{end}}
    </ul>
</body>

<!-- <footer class="footer">
    <div class="container">
        <p>The date today is {{.Date}} and the time is {{.Time}}</p>
    </div>
</footer> -->

</html>